<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    {{> navbar}}
    <div>
        <h1>profile</h1>
        <p>username : {{user.Username}}</p>
        <p>is Admin : {{user.Admin}}</p>
        <form action="/logout" method="post">
        <button type="submit">logout</button>
        </form>
    </div>
    {{#each blogs}}
    <div>
        <h4>{{this.title}}</h4>
        <img src={{this.imgUrl}} alt={{title}}>
        <p>{{caption}}</p>
        <p>Approved: {{is_verify}}</p>
    </div>
    {{/each}}
</body>
</html>